<launch>
	<rosparam command="load" file="$(find usonic_sensor)/launch/parameter.yaml" />
        
	<!-- Define remote machines. The name is somewhat arbitrary but should be the name of the quad. Environment loader is in remote_start package. If default is true all subsequent nodes will be started on that machine. -->
	<machine name="hugo" user="pi" password="raspberry" address="192.168.20.146" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	
	<machine name="marie"    user="pi" password="raspberry" address="192.168.20.145" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	<machine name="amy"      user="pi" password="raspberry" address="192.168.20.144" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	<machine name="hindrich" user="pi" password="raspberry" address="192.168.20.143" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	<machine name="hans"     user="pi" password="raspberry" address="192.168.20.142" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	<machine name="igor"     user="pi" password="raspberry" address="192.168.20.141" env-loader="/home/pi/catkin_ws/src/remote_start/env.sh" default="false" timeout="30.0"/>
	
	<node machine="amy" name="maxbotix_sensor_node" pkg="usonic_sensor" type="maxbotix_sensor_node" output="log"/>
</launch>